* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #333333;
    background-attachment:fixed;
}
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.error {
    background-color: #05bdd5;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 200%;
    width: 50%;
    height: 60%;
    padding: 5% 5% 2% 5%;
    text-align: center;
    margin: auto;
    @include vertical-align();
}

#home {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    padding: 1.5%;
    background: none, #05bdd5;
    border: solid white;
    box-shadow: 0;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 50%;
}
