body {
    background-color: #333333;
}
#title {
    position: fixed;
    margin-left: 17%;
    margin-top: 2%;
    display: inline-block;
    color: white;
    font-size: 200%;
    font-family: Roboto, sans-serif;
}
#logo {
    display: inline-block;
    margin: 1% 0 1% 2%;
    width: 12%;
    height: auto;
}
.navbar{
    margin: 0;
    padding: 0;
    background-color: #333333;
}
.list-group {
    margin-top: 15%;
}
.list-group-item {
    background-color: #333333;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
a {
    color: white;
}
.badge {
    background-color: #05bdd5;
}
#subject {
    text-align: left;

}