#title {
    color: white;
    font-size: 200%;
    font-family: Roboto, sans-serif;
}
.navbar{
    margin: 0;
    padding: 0;
    background-color: #333333;
    z-index: 2;
}
.list-group {
    margin-top: 15%;
}
.list-group-item {
    background-color: #333333;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
a {
    color: white;
}
.badge {
    background-color: #05bdd5;
}
#newroast {
    margin-top: 145%;
    margin-left: 82%;
    position: fixed;
    width: 14%;
    height: auto;
    z-index: 9999;
}